# generic temporary / dev files
*.xcf
*.pyc
*.txt
!/requirements.txt

# user files
*.db
*.ddb
*.css
/testlibrary
/src/cache
/src/rules/*
!/src/rules/.examplerules.yaml
/src/settings/*
!/src/settings/default.ini

# only for development, normally external
/src/nimrodel
/src/doreah
