body {
	background-color:#333337;
	color:beige;
	font-family:"Ubuntu";
	margin:0px;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

}





#top_bar {
	background-color: black;
	position: fixed;
	left:0px;
	right:0px;
	top:0px;
	text-align: center;

	height:80px;
	padding-top:25px;
	padding-left:15px;
	padding-right: 15px;
}

#content_area {

	left:5px;
	right:5px;
	top:105px;
	bottom:105px;

	position:fixed;
	overflow-y: scroll;
}

#playback_bar {
	background-color: black;
	position: fixed;
	left:0px;
	right:0px;
	bottom:0px;
	text-align: center;

	height:80px;
	padding-bottom:25px;
	padding-left:15px;
	padding-right: 15px;
}

#top_bar > div {
	display:inline;
	padding-left:30px;
	padding-right: 30px;
	font-size: 30px;
}

.content_element {
	display:inline-block;
	width:160px;


	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
}

.content_element table {
	table-layout: fixed;
	width: 160px;
	white-space: nowrap;
}
.content_element table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	vertical-align: bottom;
}

/*.content_element table td:hover {
	overflow:visible;
	background-color:black;
}*/


.content_element table tr.image {
	height:160px;
	width:160px;
}
.content_element table tr.image td {
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content_element tr.secondary_info {
	height:25px;
	font-size: 75%;
}
.content_element tr.main_info {
	height:18px;
	font-weight: bold;
	font-size: 90%;
}
