body {
	background-color:#333337;
	color:beige;
	font-family:"Ubuntu";
	margin:0px;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

}





#top_bar {
	background-color: black;
	position: fixed;
	left:0px;
	right:0px;
	top:0px;
	text-align: center;

	height:80px;
	padding-top:25px;
	padding-left:15px;
	padding-right: 15px;
}

#content_area {

	left:5px;
	right:5px;
	top:105px;
	bottom:105px;

	padding-top:20px;
	padding-bottom:20px;

	position:fixed;
	overflow-y: scroll;
}
.hide {
	display:none;
}

#playback_bar {
	background-color: black;
	position: fixed;
	left:0px;
	right:0px;
	bottom:0px;
	text-align: center;

	height:120px;
}

#top_bar > div {
	display:inline;
	padding-left:30px;
	padding-right: 30px;
	font-size: 30px;
	font-weight: bold;
}


[onclick]:hover {
	//text-decoration: underline;
	cursor: pointer;
}
span[onclick]:hover {
	text-decoration: underline;
}


/** login **/


div.centered_box {
	background-color: rgba(0,0,0,0.1);
	height:150px;
	width:400px;
	border-radius: 15px;

	padding:25px;

	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;

	text-align: center;
	display:flex;
	flex-direction: column;
	align-items: center;
}
div.centered_box span {

	text-overflow: ellipsis;
}
div.centered_box input,span,button {
	padding:5px;
	width:100%;
	margin-top:5px;
	height:26px;
}
div.centered_box span {
	cursor: pointer;
}
div.centered_box button {
	background-color:beige;
	border:0px;
}
div.centered_box button:hover {
	background-color:gold;
	color:black;
}

input {
	background-color: inherit;
	border:0px;
	font-size: inherit;
	font:inherit;
	text-align: inherit;
	color:inherit;
}
input:focus {
	outline:none;
}

span:focus {
	outline:none;
}

/** scrollbar **/

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: grey;
  background-color:rgba(0,255,255,0.1);
}
::-webkit-scrollbar-thumb {
background-color:rgba(103,85,0,0.7);
}
::-webkit-scrollbar-thumb:hover {
  background: gold;
}




/* content area */

.content_element {
	display:inline-block;
	width:160px;


	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
}

.content_element table {
	table-layout: fixed;
	width: 160px;
	white-space: nowrap;
}
.content_element table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	vertical-align: bottom;
}

/*.content_element table td:hover {
	overflow:visible;
	background-color:black;
}*/


.content_element table tr.image {
	height:170px;
	width:160px;
}
.content_element table tr.image td {
	position: relative;
	border-bottom:10px solid transparent;
}

/* sub-divs for different background images stacked */
.content_element table tr.image td div {
	position:absolute;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	width:160px;
	height:160px;
	top:0px;
	left:0px;
}

.content_element table tr.image td div.artwork {
}
.content_element table tr.image td div.hover {
}
.content_element table tr.image td:hover div.artwork {
	opacity: 0.5;
}
.content_element table tr.image td:hover div.hover {
	background-image: url("/play.png");
}

.content_element tr.secondary_info {
	font-size: 75%;
}
.content_element tr.main_info {
	font-weight: bold;
	font-size: 90%;
}



/* player*/

#playback_bar #progressbar {
	width:100%;
	height:15px;
	background-color:rgba(0,255,255,0.1);
}
#playback_bar #progressbar #progressed {
	height:100%;
	background-color:rgba(103,85,0,0.7);
}
#playback_bar #progressbar:hover #progressed {
	background-color:gold;
}

#playback_bar>table {
	width:100%;
	height:105px;
	padding:0px;
	border-collapse: collapse;
}

#playback_bar>table tr td {
	width:33%;
	padding:0px;
}
#playback_bar>table tr td#metadata {
	text-align:left;
}
#playback_bar>table tr td#controls {
	text-align:center;
}
#playback_bar>table tr td#settings {
	text-align:right;
	padding-right: 25px;
}



#playback_bar #controls div {
	display:inline-block;
	background-position:center;
	background-repeat: no-repeat;
	width:40px;
	height:40px;
}

#playback_bar  #play_pause_button {
	background-size:contain;
}

#play_pause_button.button_play {
	background-image: url("/play.png")
}

#play_pause_button.button_pause {
	background-image: url("/pause.png")
}

#prev_button {
	background-image: url("/prev.png");
	background-size:70%;
}
#next_button {
	background-image: url("/next.png");
	background-size:70%;
}

#volumecontrol {
	background-color:rgba(0,255,255,0.1);
	display:inline-block;
	width:100px;
	height:30px;
}
#volumecontrol #volume {
	height:30px;
	background-color:rgba(103,85,0,0.7);
}
#volumecontrol:hover #volume {
	background-color:gold;
}

#playback_bar #metadata table {
	table-layout: fixed;
	width:100%;
}

#playback_bar #metadata table #current_track_artwork {
	width:105px;
	height:105px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
}


#playback_bar #metadata table #current_track_data {
	width:300px;
	padding:25px;
}

#playback_bar #metadata table #next_tracks {
	width:200px;
	opacity: 0.7;
}

#playback_bar #metadata table #next_tracks table tr:nth-child(2) {
	opacity:0.9
}
#playback_bar #metadata table #next_tracks table tr:nth-child(3) {
	opacity:0.8
}
#playback_bar #metadata table #next_tracks table tr:nth-child(4) {
	opacity:0.7
}

#playback_bar #metadata table #next_tracks > span {
	font-size: 70%;
	text-transform: uppercase;
	color:lightgrey;
}

#playback_bar #metadata table #next_tracks table {
	table-layout: fixed;
	height:100%;
}
#playback_bar #metadata table #next_tracks table tr {
	height:20%;
	white-space: nowrap;
}
#playback_bar #metadata table #next_tracks table tr td:empty:after{
  content: "\00a0";
}


#playback_bar #metadata #current_track_data span {
	display:block;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
}

#playback_bar #metadata #current_track_data span#current_track_title {
	font-weight: bold;
	font-size: 120%;
	width:400px;
	white-space: nowrap;
}
#playback_bar #metadata #current_track_data span#current_track_artists {
	font-size: 95%;
}

#playback_bar  #metadata>div {
	display:inline-block;
	vertical-align: top;
}
